.contato {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}

.contactInfo > p {
  margin-left: 15px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 240px;
}

.contactInfo > a {
  margin-left: 15px;
}
.contactInfo > a:hover {
  padding-bottom: 10px;
  border-bottom: 4px solid var(--color-secondary);
}

@media screen and (max-width: 900px) {
  .contato {
    flex-direction: column !important;
  }
}
